html {
    background-image: url('https://i.natgeofe.com/k/dfc7bec2-0657-4887-81a7-6d024a8c3f70/WH-XmasTree_4x3.jpg');
    background-size: 2000px;
    background-repeat: no-repeat;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    max-width: 1000px;
    margin: auto;
    padding: 15px;
    border: #da4646 4px solid;
    background-color: #00580fe7;
}
h1 {
    text-align: center;
    color: #fbfcd2;
    text-shadow: 2px 2px 4px #000000;
    padding: 20px;
    background-color: #da4646;
    border: #00580fe7 4px solid;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
p{
    text-align: center;
    color: #fbfcd2;
    text-shadow: 2px 2px 4px #000000;
    padding: 20px;
    background-color: #da4646;
    border-radius: 20px;
}
h3{
    color: #fbfcd2;
    text-shadow: 2px 2px 4px #000000;
    padding: 20px;
    background-color: #da4646;
    border-radius: 20px;
    display: block;
    width: fit-content;
    margin: 20px;
    border: #00580fe7 4px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
img{
    border: #da4646 4px solid;
    max-height: 350px;
    margin: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.two{
    max-width: 1000px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}
.three{
    display: block;
}
